<section class="vh-100 login-form d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row d-flex justify-content-center h-100">
      <div class="col col-xl-10">
        <div class="card">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form"
                class="img-fluid"
              />
            </div>
            <div
              class="col-md-6 col-lg-7 d-flex align-items-center flex-column text-center justify-content-evenly"
            >
              <div class="logo">
                <img
                  src="../../assets/images/logo.png"
                  alt="logo"
                  class="img-fluid"
                />
                <div class="company-title">
                  <h4>Welcome to WIS</h4>
                </div>
              </div>

              <div class="login-button">
                <h4>Please Login To Continie</h4>
                <img
                  (click)="login()"
                  src="../../assets/images/google-signin-button.png"
                  class="img-fluid"
                  role="button"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
